@model IEnumerable<Contactos.Domain.Models.SocialPerfils>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PerfilGeneral.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionSocialPerfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialPerfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PerfilGeneral.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionSocialPerfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialPerfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SocialPerfilId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SocialPerfilId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SocialPerfilId })
        </td>
    </tr>
}

</table>
